version 5.196.2

source https://www.nuget.org/api/v2
source https://api.nuget.org/v3/index.json
storage: none
clitool dotnet-fake
clitool dotnet-mono 0.5.2
clitool dotnet-sourcelink 2.8.1
clitool dotnet-fantomas 2.8.0
clitool dotnet-reportgenerator-cli 4.0.0-rc4
nuget FSharp.Core ~> 4.5

// [ FAKE GROUP ]
group Build

    storage: none
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget FAKE.Core.Environment
    nuget Fake.DotNet.Cli
    nuget FAKE.Core.Process
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Tools.Git
    nuget Fake.DotNet.Paket
    nuget Fake.Api.GitHub
    nuget Fake.BuildServer.AppVeyor
    nuget Fake.BuildServer.Travis

    nuget Fake.DotNet.FSFormatting
    nuget FSharp.Formatting prerelease
    nuget FSharp.Formatting.CommandTool prerelease

    nuget SourceLink.Create.CommandLine 2.8.1 copy_local: true


group Test
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget FsCheck.NUnit 2.13.0
    nuget Microsoft.NET.Test.Sdk 15.8.0
    nuget NUnit 3.10.1
    nuget NUnit3TestAdapter 3.10.0    
